src/.idea
src/Testing/Temporary
CMakeFiles
Makefile
.ninja_deps
.ninja_log
src/cmake-build-debug
cmake_install.cmake
.cmake/
build
src/cli/CMakeFiles
Makefiles/
deps*/
CMakeCache.txt
relay-cli
secret.txt
users.txt
*.a
*.ninja
.vscode/
CTestTestfile.cmake
